h1, h2{
	text-align: center;
}

#head_export{
	height: 15vh;
	width: 100%;
}

#head_processed_data{
	height: 33vh;
	width: 100%;
}
#body_left_processed_data{
    float: left;
	width: 25%;
}
#body_right_processed_data{
	float: left;
	width: 35%;
	padding-left: 5%;
}
#head_extra{
	height: 15vh;
}
#submit_button{
	margin-top: 15px;
	background-color: LightGray;
	width: 50vw;
	height: 15%;
}